//= General
//== Fonts
$icon-font-path: "../fonts/";

//== Colors
$color-white: #FFFFFF;
$color-light: #72B4AE;
$color-dark: #232F35;

//== Header
$header-padding: 150px 0;

//== Section
$section-padding: 30px 0 !default;

//== Footer
$footer-padding: 50px 0;

//= Bootstrap tweaks
//== Brands
$brand-primary: $color-light;
$brand-info: $color-light;
$brand-success: $color-light;
$brand-warning: $color-light;
$brand-danger: $color-light;

//== Typography
$font-family-sans-serif: "Helvetica Neue", sans-serif;
$font-family-serif: Georgia, "Times New Roman", serif;
$font-family-google: "Open Sans", sans-serif;
$font-size-base: 18px;
$font-size-h1: 40px;
$headings-font-weight: 200;
$line-height-base: 1.6;
$text-color: $color-dark;

//==Navbar
$navbar-default-bg: $color-dark;
$navbar-default-color: $color-light;
$navbar-default-link-color: $color-white;
$navbar-default-link-hover-color: $color-white;
$navbar-default-border: transparent;

//==Container
$grid-gutter-width: 50px;
$container-large-desktop: (1200px + $grid-gutter-width);
$container-desktop: (800px + $grid-gutter-width);
$container-tablet: (600px + $grid-gutter-width);
